<div id="main">
  <div class="blogpost"> 
    <?php
    $blog_post = $this->blog->get_current_item();
    echo '<h1 class="blogpost-title">' . $blog_post->title . '</h1>';
    ?>
    <div class="blogpost-meta-container">
        <div class="blogpost-date muted-text"><?php echo $blog_post->date; ?></div>
        <ul class="blogpost-tags">
            <?php 
            foreach($blog_post->tags as $tag) {
                ?>
                <li class="muted-text hover-unmute">
                    <a class="tag-link" href="blog.php?search_tag=<?php echo $tag; ?>"> <?php echo '#' . $tag; ?> </a>
                </li>
                <?php
            }
            ?>
        </ul>
    </div>
    <div class="blogpost-content">
        <?php echo $blog_post->content; ?>
    </div>

    <?php echo '<div class="blog-navigation">';
        if ($this->blog->previous_post_exists()) {
            ?>
            <a class="next-post-link" href="blog.php?post_no=<?php echo $this->blog->current_content_item_idx - 1; ?>"> Previous Post</a>
            <?php
        }
        else {
            echo '<a></a>';
        }

        echo '<a class="all-posts-link" href="blog.php?show_all_posts"> Show All Posts </a>';
        
        if ($this->blog->next_post_exists()) {
            ?>
            <a class="previous-post-link" href="blog.php?post_no=<?php echo $this->blog->current_content_item_idx + 1; ?>"> Next Post</a>
            <?php
        }
        else {
            echo '<a></a>';
        }

    echo '</div>';
    ?>
  </div>
</div>