/* Project flex-boxes etc
<----- blogpost-meta-container ------>
<- blogpost-date -><- blogpost-tags -> */

.project-title {
  margin-bottom: 0;
}

.project-meta-container { /* Contains date and tag list */
  display: flex;
  justify-content: flex-start;
}

.project-meta-container > * {
  margin-top: 0;
  margin-bottom: 0;
}

.project-date {
  margin-right: 1em;
}

.project-tags > li {
  display: inline;
  margin-right: 10px;
}

.tag-link {
  text-decoration: none;
}

/* Project List */

.tags-list > li {
  display: inline;
  margin-right: 10px;
}

.tag-link {
  text-decoration: none;
}

.project-list > li {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1em;
  padding: .75rem 1.25rem;
}
